<% layout('layouts/boilerplate')%>

<div class="card mb-4">
  <h5 class="card-header"><%=user.username%></h5>
<!-- display profile image & about me -->
 <% if (user.image && user.about) { %> 
<img src="<%=user.image.url %>" alt="">
<%=user.about%> 
<!-- display profile image if there's no about me -->
<% } else if (user.image) { %> 
  <img src="<%=user.image.url %>" alt="">
  <% } %> 

<!-- allow user to edit profile info if they are logged in -->
<% if(typeof currentUser !== 'undefined' && currentUser.equals(user)) {%> 
<a href="<%=user.username%>/edit">Edit Profile</a>
<% } %> 
      <!-- display delete button only if the current user matches the profile username or if you are the admin -->
      <% if(currentUser && currentUser.username=='admin' || currentUser && currentUser.username == user.username ) {%>

        <!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
  Delete Profile
</button>
<% } %> 
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your profile? Your data cannot be recovered!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="/users/<%=user.username%>?_method=DELETE" method="POST">
          <button class="btn btn-danger">Confirm Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>


<% for (let blog of userBlogs) {%>
  <div class="card mb-4 mx-auto">
    <%if (blog.images.length) { %> 
    <img src="<%=blog.images[0].url%> " class="card-img-top" alt="...">
    <% } else {%> 
      <img class="img-fluid" alt=""
      src="https://res.cloudinary.com/dw2bqpmjv/image/upload/v1612319814/samples/landscapes/nature-mountains.jpg">
      <% } %> 
    <div class="card-body text-center">
      <h5 class="card-title"><%=blog.title%></h5>
      <p class="card-text"><small class="text-muted">Posted <%=blog.date%>  by <a href="/users/<%=blog.author.username%>"><%=blog.author.username%></a> </small></p>
      <p class="card-text"><%=blog.description%></p>
      <a href="/blog/<%=blog._id%> " class="btn btn-primary">View Post</a>
    </div>
  </div>
  <% } %> 

  <% if (userBlogs.length === 0) {%> 
    <div class="alert alert-secondary" role="alert">
      <%=user.username %> has no blog posts!
    </div>
    <% } %> 
